extends layout

block content
    .contenido-principal
        h1 #{nombrePagina} - #{project.name}


        form.agregar-tarea(action=`/projects/${project.url}` method="POST")
            .campo
                label(for="task") Task:
                input.nombre-tarea(type="text" name="task" placeholder="Task name")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Add")

        // TODO - Pending list

        //- pre= vardump(tasks)

        .listado-pendientes
            ul
              if tasks.length
                each task in tasks
                    li.task(data-task=task.id)
                        p= task.task
                        .acciones
                            if task.status
                                i.far.fa-check-circle.completo
                            else
                                i.far.fa-check-circle
                            i.fas.fa-trash
              else
                p Ups!, No tasks in this project !!
        
        //  Project progress

        .avance
            h2 Project Progress
            #barra-avance.barra-avance
                #porcentaje.porcentaje


        // actions to be taken
        .contenedor-acciones
            a(href=`/project/edit/${project.id}` class="boton") Edit Project
            button#eliminar-proyecto(data-project-url=project.url type="button" class="boton eliminar") Delete Project 



        